<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>jspservlet.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>jspservlet.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDetailServlet</servlet-name>
    <servlet-class>jspservlet.servlet.ShowDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>jspservlet.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChooseServlet</servlet-name>
    <servlet-class>jspservlet.servlet.ChooseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>jspservlet.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettleAccServlet</servlet-name>
    <servlet-class>jspservlet.servlet.SettleAccServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UnloginServlet</servlet-name>
    <servlet-class>jspservlet.servlet.UnloginServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UnregisterServlet</servlet-name>
    <servlet-class>jspservlet.servlet.UnregisterServlet</servlet-class>
  </servlet>

  <welcome-file-list>
    <welcome-file>/unhome.jsp</welcome-file>
  </welcome-file-list>

  <servlet-mapping>
    <servlet-name>ShowDetailServlet</servlet-name>
    <url-pattern>/showDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>ChooseServlet</servlet-name>
    <url-pattern>/choose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>SettleAccServlet</servlet-name>
    <url-pattern>/settleAcc</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>UnloginServlet</servlet-name>
    <url-pattern>/unlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnregisterServlet</servlet-name>
    <url-pattern>/unregister</url-pattern>
  </servlet-mapping>
  
</web-app>
